###**Q1**.  Use [Lucidchart](https://sjsu.edu/it/services/applications/lucidchart.php) to create an Entity Relationship Diagram (ERD) for the following tables representing a customer order tracking system:

Tables and fields:
1. product:
    - product_id: INTEGER (Primary key)
    - name: TEXT not null
    - price: REAL


2. customer:
    - customer_id: INTEGER (Primary key)
    - name: TEXT not null
    - email: TEXT not null


3. purchase_order:
    - order_id: INTEGER (Primary key)
    - customer_id: INTEGER (Foreign key)
    - date: TEXT not null ("YYYY-MM-DD")


4. order_item:
    - order_id: INTEGER (Foreign key)
    - product_id: INTEGER (Foreign key)
    - quantity: INTEGER
    


Export the ERD as PDF and submit it in Canvas.

###**Q2**. Create SQLite tables and load data
1. Here are the csv files for the data for the four tables:
   - product: https://raw.githubusercontent.com/csbfx/cs133/main/product.csv
   - customer: https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv
   - order_item: https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv
   - purchase_order: https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv
2. In this notebook, create the database and save it in a file called `store.db`, and create the four tables as described above.
3. Load the data in the csv files into the corresponding table.
4. Commit so that the data loaded to the tables to officially written to the tables.
5. Execute a query SELECT * from each table to make sure the data are properly loaded.
6. Execute a query using SELECT statement that queries with JOIN tables to find the purchase date, the products and quantities that a particular customer has purchased.

In [2]:
# 2.2 Create the database and save it in a file called store.db, and create the four tables as described above.
# Your code here . . .
import sqlite3
import pandas as pd
conn = sqlite3.connect("store.db")
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS product (
    product_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    price REAL
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS customer (
    customer_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL
);

''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS purchase_order (
    order_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    date TEXT NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS order_item (
    order_id INTEGER,
    product_id INTEGER,
    quantity INTEGER,
    FOREIGN KEY (order_id) REFERENCES purchase_order(order_id),
    FOREIGN KEY (product_id) REFERENCES product(product_id)
);
''')

In [3]:
# 2.3 Load the data in the csv files into the corresponding table.

csv_links = [
    ["product","https://raw.githubusercontent.com/csbfx/cs133/main/product.csv"],
    ["customer","https://raw.githubusercontent.com/csbfx/cs133/main/customer.csv"],
    ["order_item","https://raw.githubusercontent.com/csbfx/cs133/main/order_item.csv"],
    ["purchase_order","https://raw.githubusercontent.com/csbfx/cs133/main/purchase_order.csv"]
]
for table_name, url in csv_links:
    df = pd.read_csv(url)
    df.to_sql(table_name, conn, if_exists="replace", index=False)

In [4]:
# 2.4 Commit so that the data loaded to the tables to officially written to the tables.
conn.commit()

In [6]:
# 2.5 Execute a query SELECT * from each table to make sure the data are properly loaded.
for item in csv_links:
    cursor.execute(f"SELECT * FROM {item[0]}")
    rows = cursor.fetchall()
    for row in rows:
        print(f"{item[0]}",row)

product (0, 'bicycle', 400)
product (1, 'helmet', 45)
product (2, 'gloves', 23)
product (3, 'chain', 48)
customer (0, 'Wendy Lee', 'wlee@bike.com')
customer (1, 'Jason Brown', 'jb@speed.com')
customer (2, 'Harry Potter', 'hp@hogwarts.edu')
customer (3, 'Godric Gryffindor', 'gg@hogwards.edu')
order_item (0, 0, 1)
order_item (0, 1, 1)
order_item (1, 2, 2)
order_item (1, 3, 1)
purchase_order (0, 0, '2020-10-19')
purchase_order (1, 0, '2020-10-20')
purchase_order (2, 1, '2020-10-20')

In [8]:
# 2.6 Execute a query using SELECT statement that queries with JOIN tables to find the purchase date,
#    the products and quantities that a particular customer has purchased.
# Query 1: ???
# Query 2: ???

cursor.execute('''
    SELECT c.name, po.date, p.name, ot.quantity
    FROM customer c
    JOIN purchase_order po ON c.customer_id = po.customer_id
    JOIN order_item ot ON ot.order_id = po.order_id
    JOIN product p ON ot.product_id = p.product_id;
''')

rows = cursor.fetchall()
for row in rows:
    print("group",row)

group ('Wendy Lee', '2020-10-19', 'bicycle', 1)
group ('Wendy Lee', '2020-10-19', 'helmet', 1)
group ('Wendy Lee', '2020-10-20', 'gloves', 2)
group ('Wendy Lee', '2020-10-20', 'chain', 1)

In [14]:
# Additional tasks
# Appending a new row to one of the tables
# Deleting row(s) with "XXX"

cursor.execute("INSERT INTO customer (customer_id, name, email) VALUES (?, ?, ?)", (4, "Albus Dumbledore", "ad@hogwarts.edu"))
cursor.execute("DELETE FROM customer WHERE name = 'Harry Potter';")

cursor.execute(f"SELECT * FROM customer")
rows = cursor.fetchall()
for row in rows:
    print(f"{item[0]}",row)

purchase_order (0, 'Wendy Lee', 'wlee@bike.com')
purchase_order (1, 'Jason Brown', 'jb@speed.com')
purchase_order (3, 'Godric Gryffindor', 'gg@hogwards.edu')
purchase_order (4, 'Albus Dumbledore', 'ad@hogwarts.edu')